<div
  class="rounded-md w-full p-[1px]"
  style="
    background: linear-gradient(143.59deg, #fbd684 -39.91%, #060400 104.75%);
  "
>
  <div class="w-full h-full bg-gray-950 rounded-md p-6">
    <section class="flex items-center gap-x-4">
      <img src="" alt="Autor" />

      <div class="flex flex-col font-test gap-y-1 w-full items-start">
        <h1>{{ data.author }}</h1>

        <div class="w-full flex items-center gap-x-1">
          <app-star *ngFor="let i of [1, 2, 3, 4, 5]" />
        </div>

        <p class="text-xs text-graytext text-justify">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </section>
  </div>
</div>
